@font-face{
    src: url(../fonts/GlacialIndifference-Bold.woff);
    font-family: 'GlacialB';
}

@font-face{
    src: url(../fonts/GlacialIndifference-Regular.woff);
    font-family: 'Glacial';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

body#send-mensage{
    width: 100vw;
    max-width: 1500px;
    height: 100vh;
    background-color: #4E3D82;
    overflow-x: hidden;
    font-family: 'Glacial';
}

header#menu{
    width: 100vw;
    height: 20vh;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #31613b;
}

header #logo{
    height: 10vh;
}

main#form{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer#contacts{
    width: 100vw;
    height: 20vh;
    padding: 15px 30px;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #58ae49;

    font-family: 'GlacialB';
}

footer span{
    color: #4E3D82;
}

footer .info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

footer .info div{
    width: 250px;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 700;
}

footer .info div a i{
    margin: 0 5px;

    color: #4E3D82;
    font-size: 2rem;
}

footer .info div a i:hover{
    color: #4e3d829c;
}

footer .lema{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer .lema img{
    width: 15vh;
    margin-right: 5px;
}

footer .lema span{
    font-size: 1.2rem;
    
}